<html>
<head>
  <title></title>
</head>
<body>
<script src="http://code.jquery.com/jquery-2.0.3.min.js"></script>
<script>
  $(document).ready(function() {
    $("#wow").on('click', function() {
      $(this).hide("fast");
    });
  });
</script>
<div id="wow">test</div>
</body>
</html>