<h1>使用者列表</h1>
<%= will_paginate %>
<table class="table table-hover table-bordered">
  <thead>
    <th>#</th>
    <th>大頭貼</th>
    <th>名字</th>

  </thead>

  <tbody>

    <%= render @users %>

  </tbody>

</table>
<%= will_paginate %>