<%= provide(:title, "使用者列表") %>
<h1>使用者列表</h1>
<%= will_paginate %>
<table style="width:60%"class="table table-hover table-bordered ">
  <thead class="info">
    <th>#</th>
    <th>大頭貼</th>
    <th>名字</th>

  </thead>

  <tbody>

    <%= render @users %>

  </tbody>

</table>
<%= will_paginate %>