<footer class="footer">
  <small>
    <a href="http://www.facebook.com/baozi.rails">Baozi Wu's FB</a>
  </small>
  <nav>
    <ul>
      <li><%= link_to "關於",   about_path %></li>
      <li><%= link_to "聯絡", contact_path %></li>
      <li><a href="http://www.facebook.com/baozi.rails">Facebook</a></li>
    </ul>
  </nav>
</footer>
